{
  "extends": [
    "stylelint-config-standard-scss"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "ignoreFiles": [
    "node_modules",
    "dist/**/*"
  ],
  "validate": [
    "css",
    "scss",
    "sass"
  ],
  "customSyntax": "postcss-scss",
  "rules": {
    "number-leading-zero": "never",
    "selector-class-pattern": null,
    "at-rule-empty-line-before": [
      "always",
      {
        "except": [
          "blockless-after-same-name-blockless",
          "first-nested"
        ]
      }
    ],
    "max-line-length": 160,
    "no-descending-specificity": null,
    "indentation": [
      2,
      {
        "message": "Please use 2 spaces for indentation."
      }
    ],
    "unit-allowed-list": [
      "rem",
      "em",
      "s",
      "vw",
      "vh",
      "%",
      "deg",
      "fr",
      "px"
    ],
    "declaration-empty-line-before": null,
    "custom-property-pattern": ".*",
    "alpha-value-notation": "number",
    "property-no-vendor-prefix": [
      true,
      {
        "ignoreProperties": [
          "appearance", 
          "text-size-adjust",
          "min-device-pixel-ratio"
        ]
      }
    ],
    "order/order": [
      "custom-properties",
      "declarations"
    ],
    "order/properties-order": [
      "content",
      "order",
      "box-sizing",
      "counter-reset",
      "counter-increment",
      "position",
      "left",
      "right",
      "top",
      "bottom",
      "display",
      "grid",
      "grid-area",
      "grid-auto-columns",
      "grid-auto-flow",
      "grid-auto-rows",
      "grid-column",
      "grid-column-end",
      "grid-column-start",
      "grid-row",
      "grid-row-end",
      "grid-row-start",
      "grid-template",
      "grid-template-areas",
      "grid-template-columns",
      "grid-template-rows",
      "flex",
      "flex-align",
      "flex-basis",
      "flex-direction",
      "flex-flow",
      "align-items",
      "align-content",
      "align-self",
      "justify-content",
      "flex-grow",
      "flex-order",
      "flex-pack",
      "flex-shrink",
      "flex-wrap",
      "float",
      "width",
      "height",
      "max-width",
      "max-height",
      "min-width",
      "min-height",
      "margin",
      "margin-left",
      "margin-right",
      "margin-top",
      "margin-bottom",
      "margin-collapse",
      "margin-top-collapse",
      "margin-right-collapse",
      "margin-bottom-collapse",
      "margin-left-collapse",
      "padding",
      "padding-left",
      "padding-right",
      "padding-top",
      "padding-bottom",
      "clip",
      "clip-path",
      "clear",
      "color",
      "direction",
      "font",
      "font-family",
      "font-feature-settings",
      "font-size",
      "font-kerning",
      "font-smoothing",
      "font-stretch",
      "font-style",
      "font-variant",
      "font-weight",
      "font-display",
      "-webkit-font-smoothing",
      "-moz-osx-font-smoothing",
      "hanging-punctuation",
      "hyphens",
      "quotes",
      "line-height",
      "letter-spacing",
      "text-align",
      "text-decoration",
      "text-emphasis",
      "text-emphasis-color",
      "text-emphasis-position",
      "text-emphasis-style",
      "text-indent",
      "text-justify",
      "text-overflow",
      "text-overflow-ellipsis",
      "text-overflow-mode",
      "text-rendering",
      "text-size-adjust",
      "text-shadow",
      "text-transform",
      "word-break",
      "word-spacing",
      "word-wrap",
      "word-break",
      "tab-size",
      "vertical-align",
      "white-space",
      "list-style",
      "list-style-image",
      "list-style-position",
      "list-style-type",
      "appearance",
      "background",
      "background-color",
      "background-attachment",
      "background-clip",
      "background-image",
      "background-position",
      "background-position-x",
      "background-position-y",
      "background-repeat",
      "background-repeat-x",
      "background-repeat-y",
      "background-origin",
      "background-size",
      "object-fit",
      "object-position",
      "box-decoration-break",
      "border",
      "border-collapse",
      "border-top",
      "border-right",
      "border-bottom",
      "border-left",
      "border-color",
      "border-image",
      "border-top-color",
      "border-right-color",
      "border-bottom-color",
      "border-left-color",
      "border-spacing",
      "border-style",
      "border-top-style",
      "border-right-style",
      "border-bottom-style",
      "border-left-style",
      "border-width",
      "border-top-width",
      "border-right-width",
      "border-bottom-width",
      "border-left-width",
      "border-radius",
      "border-top-right-radius",
      "border-bottom-right-radius",
      "border-bottom-left-radius",
      "border-top-left-radius",
      "border-radius-topright",
      "border-radius-bottomright",
      "border-radius-bottomleft",
      "border-radius-topleft",
      "outline",
      "outline-width",
      "outline-style",
      "outline-color",
      "outline-offset",
      "box-shadow",
      "perspective",
      "perspective-origin",
      "table-layout",
      "cursor",
      "opacity",
      "filter",
      "visibility",
      "zoom",
      "marks",
      "page-break",
      "page-break-before",
      "page-break-inside",
      "page-break-after",
      "pointer-events",
      "resize",
      "unicode-bidi",
      "user-select",
      "scrollbar",
      "widows",
      "transform",
      "transform-origin",
      "transform-style",
      "animation",
      "animation-name",
      "animation-duration",
      "animation-delay",
      "animation-iteration-count",
      "animation-play-state",
      "animation-timing-function",
      "animation-fill-mode",
      "backface-visibility",
      "transition",
      "transition-duration",
      "transition-property",
      "transition-delay",
      "transition-timing-function",
      "overflow",
      "overflow-x",
      "overflow-y",
      "will-change",
      "z-index",
      "src"
    ]
  }
}