body .cookie-bar.alert {
  position: relative;
  margin: 0;
  padding: 1.2rem 1rem;
  background: var(--c-primary);
  border-radius: 0;

  .cookie-bar {
    &__message {
      padding-right: 5rem;

      p {
        color: var(--c-white);
        font-size: 1.2rem;
        font-weight: 700;
      }
    }

    &__close {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      padding: 1rem;
      color: var(--c-white);
      line-height: 0;
      text-shadow: inherit;
      opacity: .9;
    }
  }
}
